<section class="section-profile section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="section-title">
                    <h2>CERTIFICATES</h2>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    {% for cr in certificate %}
                    <div class="col-md-6">
                        <div class="profile-item">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" src="{{ cr.logo.url }}" alt="{{ cr.title }}">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">{{ cr.title }}</h3>
                                    {{ cr.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--.row-->
        </div>
        <!-- .container -->
    </div>
</section>
