{% extends 'base.html' %}
{% load static %}
{% block title %}
Saeed Mohammadi | Contact Me
{% endblock title %}
{% block meta %}
<link rel="stylesheet" type="text/css" href="{% static 'mainsite/test.css' %}">
<link rel="stylesheet" href="{% static 'mainsite/css/style.css' %}">
{% endblock meta %}
{% block content %}
<div id="popup-1">
    <div class="popup-content">
        <span class="form_title">How Can I Help You</span>
        <form method='POST'>
            <button class="close" id="close-popup-1">x</button>
            {% csrf_token %}
            {% for field in form %} {% comment %} "form" key in formclass {% endcomment %}
            {{ field.label_tag }}
            <br>
            {{ field }}
            {{ field.errors }}
            <br>
            {% endfor %}
            <button class="btn btn-primary cv_button">Submit</button> <br>
        </form>
    </div>
</div>
<header class="header-c"></header>
<div class="main-site">
    <img class="logo" src="{% static 'files/34.jpg' %}" alt="my logo">
    <h2>Feel free to leave me a note</h2>
    <button class="btn btn-primary cv_button" id="open-popup-1">Open Form</button>
    <br>
    <h3>or</h3>

    <!-- Zeeg inline embed begins -->
    <div class="zeeg-inline-widget" id="zeeg-embed-mohammadisaeedir-" style="min-width: 320px; height: 680px"></div>
    <script type="text/javascript" src="https://assets.zeeg.me/embed.min.js" data-user="mohammadisaeedir"
        async></script>
    <!-- Zeeg inline embed ends -->

</div>
<script type="text/javascript" src="{% static 'mainsite/js/app.js' %}"></script>
{% endblock content %}