{% extends 'base.html' %}
{% block title %}
    Saeed Mohammadi | {{ object.user_name }}
{% endblock title %}
{% block meta %}
{% endblock meta %}
{% block content %}
    {{ contactform.user_name }}
    <br>
    {% comment %} # model name in lowercase or "object" key {% endcomment %}
    {{ object.email }}
    <br>
    {{ object.subject }}
    <br>
    {{ object.body }}
    <br>
    <br>
    {% if is_favorite %}
    <p>this is favorite one</p>
    {% else %}
    <form action="/contacts/favorite" method='POST'>
        {% csrf_token %}
        <input type="hidden" name='cont-id' value={{ object.id}}>
        <button>favorite</button>
    </form>
    {% endif %}
{% endblock content %}
