{% extends 'base.html' %} {% load static %} {% block title %} Saeed Mohammadi |
thanks {% endblock title %} {% block meta %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'mainsite/test.css' %}"
/>
<link rel="stylesheet" href="{% static 'mainsite/css/style.css' %}" />
{% endblock meta %} {% block content %}
<header class="header-c"></header>
<div class="main-site">
  <img class="logo" src="{% static 'files/34.jpg' %}" alt="my logo" />

  <p>Thank you for submit the form</p>
  {{body}} 
  <ul class="social-icon">
    {% include 'mainsite/includes/social_network.html' %}
</ul>
  {% endblock content %}
</div>
